body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.topnav {
  overflow: hidden;
  border-bottom: 0.5px solid silver;
  padding-left: 5%;
  padding-right: 10%;
}

.topnav a {
  float: right;
  text-align: center;
  padding: 25px 10px;
  color: tomato;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.topnav a.logo {
  float: left;
  margin-right: 420px;
  color: black;
  font-size: 17px;
  font-weight: 400;
}

.topnav a:hover {
  text-decoration: underline;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.grid.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid.four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid.four div {
  height: auto;
  padding: 40px;
  color: #ffffff;
}
.grid.four div i {
  font-size: 70px;
  position: relative;
  left: 90px;
}

.grid.four div.red {
  background-color: #ff5733;
}
.grid.four div.red1 {
  background-color: #ff6c4d;
}
.grid.four div.red2 {
  background-color: #ff8166;
}
.grid.four div.red3 {
  background-color: #ff9680;
}

.grid.four div p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.8em;
  font-weight: 500;
  text-align: center;
}

.grid.four div h3 {
  font-size: 1.8em;
  text-align: center;
}

.grid.three {
  display: grid;
  border: 2px dashed rgba(114, 186, 94, 0.35);
  height: 600px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background: rgba(114, 186, 94, 0.05);
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.beforeAfter {
  width: 300px;
  height: 200px;
  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
  text-align: center;
}

.column {
  display: block;
}

.background {
  background-image: url("../images/renata_scassi.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.description {
  padding: 50px;
  height: auto;
}

h2.title {
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #aeb8b8;
  letter-spacing: 4px;
  line-height: 1.2em;
  font-size: 26px;
  margin: 0px;
  padding-bottom: 10px;
}
h6 {
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 10px;
  font-size: 15px;
  color: #737a7a !important;
  letter-spacing: 1px;
  line-height: 1.8em;
}

h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.3em;
  color: #333;
  margin: 0px;
}

h1 u {
  color: tomato;
}

.highlight {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 700 !important;
  line-height: 1.5em !important;
  font-size: 20px;
}

.smallColumn {
  padding: 30px 40px;
}

.smallColumn.grey {
  background-color: #455860;
  color: #ffffff;
}

.smallColumn.darkGrey {
  background-color: #3e5159;
  color: #ffffff;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.8em;
  font-weight: 500;
}

button {
  background-color: tomato;
  padding-left: 10px;
  position: relative;
  left: 50px;
  margin-top: 10px;
  color: white;
  border-radius: 7px;
  border: 0px;
  padding: 10px;
  font-size: 1.3em;
}

h2.question {
  font-weight: 600;
  font-size: 44px;
  text-align: center;
  padding-bottom: 10px;
  color: #333;
  line-height: 1em;
  line-height: 1.5em;
  padding: 20px 100px;
}
