body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.pad {
  padding: 0px 50px;
}
.pad.red {
  padding: 0px 50px 50px;
  background-color: tomato;
}

.tomato {
  background-color: tomato;
}
