.topnav {
  overflow: hidden;
  border-bottom: 0.5px solid silver;
  padding-left: 5%;
  padding-right: 10%;
}

.topnav a {
  float: right;
  text-align: center;
  padding: 25px 10px;
  color: tomato;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.topnav a.logo {
  float: left;
  margin-right: 420px;
  color: black;
  font-size: 17px;
  font-weight: 400;
}

.topnav a:hover {
  text-decoration: underline;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}
